---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import    TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json"; 
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import type { ImageMetadata } from 'astro';
import shippingImage1 from '@images/shipping1.jpg';
import shippingImage2 from '@images/shipping2.jpg';
import shippingImage3 from '@images/shipping3.jpg';
import shippingImage4 from '@images/shipping4.jpg';

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];

const backgroundImages = [
  shippingImage1,
  shippingImage2,
  shippingImage3,
  shippingImage4
];
---

<MainLayout>
  <div class="min-h-screen">
    <nav class="py-6">
      <div class="relative -mt-[80px]">
        <div id="slideshowBackground" class="bg-cover bg-center bg-fixed rounded-[2.5%] transition-all duration-1000" style={`background-image: url('${backgroundImages[0].src}')`}>
          <div class="bg-white/5 rounded-[2.5%]">
            <HeroSection
              title=`Discover the World with   <span
                  class="text-orange-600 dark:text-orange-600">PKT TRAVELS, TOURS & EVENTS</span>`
              subTitle=" From breathtaking tours to seamless event planning, we craft experiences that leave a lasting impression. Whether you're exploring new destinations or hosting a once-in-a-lifetime celebration, PKT Travels ensures every detail is perfect."
              primaryBtn="Start Your Next Journey with Us Today"
              primaryBtnURL="/services"
              secondaryBtn="Contact Sales Team"
              secondaryBtnURL="/contact"
              withReview={true}
              avatars={avatarSrcs}
              rating=`<span class="font-bold text-white">4.8 / 5</span>`
              starCount={4}
              reviews=`<span class="font-bold text-white">From Over 12.8k Reviews</span>`
            />
          </div>
        </div>
      </div>
    </nav>

    <main>

      <FeaturesGeneral
        title="Meeting Your Travel and Event Expectations"
        subTitle="At PKT Travels, we understand the complexities of planning unforgettable journeys and seamless events. Whether you're exploring new destinations or hosting a grand celebration, our team is dedicated to making every moment exceptional, ensuring your experience exceeds expectations."

        features={features}
      />

      <FeaturesNavs
        title=`Customize <span class="text-yellow-500 dark:text-yellow-400">PKT TRAVELS, TOURS & EVENTS</span>'s offerings to perfectly suit your Travel & Event needs.`
        tabs={[
          {
            heading: "Dedicated Event & Travel Planning Teams",
            content:
              "Benefit from our dedicated and experienced teams who ensure every aspect of your travel or event is managed with precision and care. From booking the perfect itinerary to handling every detail of your event, our experts provide personalized support every step of the way.",
            svg: "tools",
            src: tools,
            alt: "Yellow and black heavy equipment on brown grass field",
            first: true,
          },
          {
            heading: "Effortless, Cost-Effective Travel & Event Experiences",
            content:
              "Discover affordable and stress-free solutions with PKT Travels, Tours & Events. We streamline your booking process, making both travel and event planning more efficient, all while keeping it within your budget. Enjoy amazing experiences without the hassle.",
            svg: "dashboard",
            src: dashboard,
            alt: "A screenshot or graphic representation of the intuitive dashboard",
            second: true,
          },
          {
            heading: "Customized Travel & Event Solutions for Every Need",
            content:
              "At PKT Travels, Tours & Events, we offer personalized travel and event packages tailored to your unique preferences and goals. Whether it's an adventurous tour, a corporate retreat, or a destination wedding, we work closely with you to design experiences that reflect your vision and exceed expectations.",
            svg: "house",
            src: construction,
            alt: "Gray metal building frame near tower crane during daytime",
          },
        ]}
      />

      <TestimonialsSection
        title="Why Choose PKT Travels, Tours & Events?"
        subTitle="With PKT Travels, you don’t just get a travel agency or event planner—you get a trusted partner who’s always one step ahead. Our innovative tools, personalized service, and years of expertise ensure that your trip or event will be executed smoothly and efficiently, every time. From real-time updates on travel to seamless event coordination, we take care of the details so you can focus on the experience."
        ;
        testimonials={[
          {
            content:
              "PKT Travels completely transformed how we manage our company retreats and special events. Their quick response times and exceptional attention to detail helped us meet even the tightest deadlines without compromising on quality. Our team now relies on them for flawless, Visa processing, Ticket booking, travel and event management!",
            author: "Michael Mensah",
            role: "Logistics Director | GlobalTrade Solutions Inc.",
            avatarSrc:
              "https://res.cloudinary.com/dzh8mryxw/image/upload/v1734371171/kaysha-OJvh3njqTTQ-unsplash_od6pkn.jpg",
          },
        ]}
        statistics={[
          {
            count: "70k+",
            description:
              "events flawlessly executed across the globe—from intimate corporate retreats to large-scale international conferences.",
          },
          {
            count: "90%",
            description:
              "we have a proud 90% Visa Success Record",
          },
          {
            count: "25.3%",
            description:
              "reduction in overall travel expenses thanks to PKT Travels' exclusive partnerships and cost-effective travel solutions.",
          },
          {
            count: "3x",
            description: "faster planning and booking for both travel and events with our efficient, user-friendly booking platform and real-time updates.",
          },
        ]}
      />

      <PricingSection pricing={pricing} />

      <FAQ title="Frequently<br />asked questions" faqs={faqs} />

      
    </main>
  </div>
</MainLayout>

<script define:vars={{ backgroundImages }}>
  const backgrounds = backgroundImages.map(img => img.src);
  
  let currentIndex = 0;
  const slideshowElement = document.getElementById('slideshowBackground');

  function changeBackground() {
    currentIndex = (currentIndex + 1) % backgrounds.length;
    if (slideshowElement) {
      slideshowElement.style.backgroundImage = `url('${backgrounds[currentIndex]}')`;
    }
  }

  setInterval(changeBackground, 10000);
</script>
